results
*.vscode
*.lock
*.pyc
.python-version
.venv
poetry.lock
pyproject.toml
databases/
*.db
*.python-version
pyproject.toml

.history
.vscode/
*.png
*.svg
*/*.ipynb_checkpoints
pyproject_copy.toml
